{% extends "base.html" %} 
{% block title %}Home page{% endblock %} 
{% block href %} 
  {% if c_a != True and c_a != False %} 
    <a class="me-3 py-2 btn btn-primary" href="/login">Login</a> 
    <a class="me-3 py-2 btn btn-primary" href="/register">Register</a> 
  {% endif %} 
  {% if c_a == True %} 
    <a style="margin-left: 16px;" class="me-3 py-2 btn btn-primary" href="/add">Add product</a> 
  {% endif %} 
  {% if  c_a == True or c_a == False%} 
    <a class="py-2 text-dark btn btn-danger"  href="/logout"><p>Log out</p></a> 
  {% endif %} 
{% endblock %} 
{% block content %} 
<form class="form-inline" method="POST">
  <div class="form-group col-1" style="width: 250px; border-radius: 15px;">
    <div class="input-group">
        <span class="input-group-addon"></span>
            <select name="comp_select" class="selectpicker form-control">
              <option value="">By default</option>
              <option value="price">by price</option>
              <option value="cpu">CPUs</option>
              <option value="mobo">Motherboards</option>
              <option value="ram">RAM modules</option>
              <option value="intel">Intel processors</option>
              <option value="amd">AMD processors</option>
            </select>
            
    </div class="container" style="background-color: aliceblue;">
    <button type="submit" class="btn btn-success" >Filter</button>
  </div>
</form>
{% for i in product %}
      <div class="card col-5" style="width: 18rem; margin: auto; background-color:dimgray; color:beige;"> 
        <img class="card-img-top" src="/static/{{i.photo}}" alt="image" style="height: 250px;"> 
        <div class="card-body"> 
          <h5  style="margin:auto; height: 15px;">{{i.name}}</h5> 
        </div>
        <ul class="list-group list-group-flush"> 
          <li  style="margin:auto; height: 20px">Brand: {{i.brand}}</li> 
          <li  style="margin:auto; height: 20px">Price: {{i.price}}₽</li> 
          <li  style="margin:auto; height: 20px">Rating: {{avr[i.id]}}</li>
        </ul>
        <div class="card-body" style="margin:auto"> 
          <a href="/{{i.id}}" class="btn btn-primary" class="card-link">More...</a> 
        </div>
        {% if c_a == True %} 
          <div clas="flex-container" style="height:3rem;"> 
            <a  href = "/delete/{{i.id}}/del" class="btn btn-danger" value="" >Delete</a> 
            <a href = "/add/{{i.id}}/ed" class="btn btn-danger" value="">Edit</a> 
          </div>
        {% endif %} 
       </div> 
{% endfor %}
{% endblock %}
      </body>